.tel_label,.verifCode_label{
	display: block;
	border-bottom: 1px solid #ddd;
}
.tel_label span,.tel_label input,.verifCode_label span,.verifCode_label input{
	float: left;
	font-size: 16px;
	line-height: 28px;
}
.tel_label{
	margin-bottom: 0.38rem;
}
.tel_label span{
	margin-right: 0.3rem;
}
.verifCode_label input#verifCode_btn{
	float: right;
	color: #1D98FA;
	margin-left: 0.3rem;
}
/*===*/
.tips{
	padding-top: 0.22rem;
	height: 1.12rem;
	overflow: hidden;
}
.tips .tip_msg{
	display: none;
	font-size: 12px;
}
.tips .tip_error{
	display: none;
	font-size: 16px;
	color: #FB4444;
}
/*===*/
.bottomTips{
	font-size: 16px;
	color: #999;
	width: 100%;
	text-align: center;
	/*position: fixed;
	bottom: 1.14rem;
	left: 50%;
	margin-left: -50%;*/
	margin-top: 4.8rem;
}
